{% extends "templates/base.html" %}
 
{% block title %}
Discussion board - new topic
{% endblock %}

{% block title2 %}
Discussion board - new topic
{% endblock %}
 
{% block content %}
	<form action="/postSubject/" method="post">
		Topic:<br>
		<input type="text" name="title"><br> 
		Author:<br>
		<input type="text" name="name"><br> 
		Content:<br>
		<textarea rows="10" cols="70" name="content"></textarea>
		<p/>
		<input type="submit" value="Post">
		{% csrf_token %}
	</form>
{% endblock %}
 
{% block sidebar %}
<a href="/board">Back to Discussion board</a>
{% endblock %}

{% block sidebar2 %}
<a href="/">Back to Homepage</a>
{% endblock %}