<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Melbourne government</title>

        <!-- Bootstrap core CSS -->
        <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!-- Plugin CSS -->
        <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/css/data.css">


        <!-- Custom styles for this template -->
        <link href="static/css/creative.min.css" rel="stylesheet" type="text/css">

    </head>

    <body id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Visit Melbourne</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/board">Discussion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/chatterBot">Online services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>

        <header class="masthead text-center text-white d-flex">
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h1 class="text-uppercase">
                        <strong>Welcome to Melbourne</strong>
                        </h1>
                        <hr>
                    </div>
                    <div class="col-lg-8 mx-auto">
                        <p class="text-faded mb-5">Help you explore the city</p>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#tourist">Find Out More</a>
                    </div>
                </div>
            </div>
        </header>

        <section class="">
              <div class="container" id="tourist">
                    <div class="row">
                        <div class="col-lg-8 mx-auto text-center">
                            <h2 class="section-heading">Tourists from all over the world</h2>
                            <hr>
                            <p class="text-faded mb-4">
                                <div id="svg" class="sr-icons">
                                    <svg width="100%" height="450px" viewBox="0 0 800 450" preserveAspectRatio="xMidYMid"></svg>
                                </div>    
                            </p>
                            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">What is attracting people here? </a>
                        </div>
                    </div>
              </div>
        </section>


        <section class="bg-primary" >
            <div class="container" id="about">
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                        <h2 class="section-heading text-white">About travelling in the city</h2>
                        <hr class="light my-4">
                        <p class="text-faded mb-4"><embed src="https://youtu.be/RLOsQViPLhw" type="application/x-shockwave-flash" wmode="transparent" frameboarder="0" width="640" height="360" allowfullscreen></embed></p>
                        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">I want to know more!</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Frequently Asked Questions</h2>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="service-box mt-5 mx-auto">
                                <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
                                <h3 class="mb-3">Lorem ipsum dolor</h3>
                                <p class="text-muted mb-0">Aenean a consectetur leo, quis pulvinar dolor. Pellentesque fermentum libero eu viverra pellentesque. Ut tempor ante in sem feugiat, vitae posuere risus consequat. </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3">sit amet</h3>
                            <p class="text-muted mb-0">In hendrerit est sit amet elit fringilla, quis consequat purus consectetur. Maecenas sed maximus nibh, non consectetur mi.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3">Sed purus dolor</h3>
                            <p class="text-muted mb-0">Interdum in tincidunt sagittis, blandit nec nunc. Curabitur augue purus, faucibus vel tempus nec, feugiat vitae felis. Fusce gravida eros nibh, id mattis sem fringilla ac.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
                            <h3 class="mb-3">Curabitur et porttitor </h3>
                            <p class="text-muted mb-0">Etiam porttitor finibus mi auctor accumsan. Suspendisse tincidunt dolor vel nisl rutrum mollis. Maecenas aliquam bibendum egestas. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="p-0" id="portfolio">
            <div class="container-fluid p-0">
                <div class="row no-gutters popup-gallery">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="static/img/photo/fullsize/1.jpg">
                            <img class="img-fluid" src="static/img/photo/thumbnails/1.jpg" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                    </div>
                                    <div class="project-name">
                                        Shrine of Remembrance
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="static/img/photo/fullsize/2.jpg">
                            <img class="img-fluid" src="static/img/photo/thumbnails/2.jpg" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                    </div>
                                    <div class="project-name">
                                        Flinders Streets Station
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="static/img/photo/fullsize/3.jpg">
                            <img class="img-fluid" src="static/img/photo/thumbnails/3.jpg" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                    </div>
                                    <div class="project-name">
                                    National Gallery of Victoria
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
              <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="static/img/photo/fullsize/4.jpg">
                        <img class="img-fluid" src="static/img/photo/thumbnails/4.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                </div>
                                <div class="project-name">
                                    Puffing Billy Railway
                                </div>
                            </div>
                        </div>
                    </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="static/img/photo/fullsize/5.jpg">
                        <img class="img-fluid" src="static/img/photo/thumbnails/5.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                </div>
                                <div class="project-name">
                                The University of Melbourne
                                </div>
                            </div>
                        </div>
                    </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="static/img/photo/fullsize/6.jpg">
                        <img class="img-fluid" src="static/img/photo/thumbnails/6.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                </div>
                                <div class="project-name">
                                    Great Ocean Road
                                </div>
                            </div>
                        </div>
                    </a>
              </div>
            </div>
          </div>
        </section>

        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                        <h2 class="section-heading">Let's Get In Touch!</h2>
                        <hr class="my-4">
                        <p class="mb-5">Ready to start your trip with us? That's great! Give us a call or send us an email and we will make a travel plan for you as soon as possible!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center">
                        <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
                        <p class="phone">0490-763-962</p>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                        <p>
                            <a href="mailto:andy0128.lu@gmail.com">andy0128.lu@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Bootstrap core JavaScript -->
        <script src="static/vendor/jquery/jquery.min.js"></script>
        <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
        <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="static/js/creative.min.js"></script>
        <script type="text/javascript" src="../static/js/data.js"></script>

    </body>

</html>
